---
import ProjectEditorWrap from "@/components/ProjectEditor/ProjectEditor";
import MainLayout from "@/layouts/MainLayout.astro";

export const prerender = false;
const { id = "" } = Astro.params;

const url = new URL(Astro.request.url);
const profileId = url.searchParams.get("profileId") || "";
const index = Number(url.searchParams.get("index") || "0");
---

<MainLayout title="Community">
  <h1 class="mb-4 text-2xl font-semibold text-blue-400">✏️ Chỉnh sửa dự án</h1>
  <ProjectEditorWrap
    client:load
    projectId={id}
    profileId={profileId}
    projectIndex={index}
  />
</MainLayout>
