---
import MyProfileWrap from "@/components/MyProfile/MyProfile";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Dolphinder - Developer Directory">
  <!-- <div class="relative flex min-h-screen items-center justify-center pt-16">
    <div class="absolute inset-0 -z-10">
      <Silk
        speed={5}
        scale={1}
        color="#4DA2FF"
        noiseIntensity={1.5}
        rotation={0}
        client:load
      />
    </div> -->

  <!-- <div class="absolute inset-0"> -->
  <MyProfileWrap client:load />
  <!-- </div> -->
  <!-- </div> -->
</MainLayout>
